@import "bootstrap/scss/bootstrap";
@import "react-toastify/scss/main";

.form-required {
	color: rgb(176, 21, 21);
}

.autocomplete-container {
	width: 50%;
}

.cursor-pointer {
	cursor: pointer;
}

.resturant-info-card {
	width: 300px;
	margin: 0 auto;
	background-color: #212529;

	img {
		object-fit: cover;
		height: 200px;
	}

	button {
		padding: 0 1rem;
	}
}

.map-navigation {
	padding: 2rem;
	border: 2px solid #ffffff;
	border-radius: 0 0 10px 10px;
}

#hand-pointer-on-map {
	font-size: 2rem;
}

.notfound-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
